# MongoDB
MONGO_URI=mongodb+srv://zayn08454_db_user:LaZ7jLtkywnwq95C@mailer.6t3bnnr.mongodb.net

# JWT
JWT_SECRET=change_this_to_a_long_random_string

# Signup ensure/invite code
SIGNUP_CODE=goldluck

# Gmail SMTP (use a Gmail "App Password", not your normal password)
# https://myaccount.google.com/apppasswords
GMAIL_USER=zayn08454@gmail.com
GMAIL_APP_PASSWORD=adkg koqs kkzg tfwo

# Server
PORT=5000
